{% extends 'base.html' %}
{% block content %}
<h2>All Songs</h2>
<ul>
    {% for song in songs %}
        <li>
            {{ song.title }} — {{ song.artist }}
            <button class="play-btn" data-src="{{ song.audio_file.url }}" data-title="{{ song.title }}">▶</button>
        </li>
        <button class="like-btn" data-id="{{ song.id }}">
            {% if user in song.liked_by.all %}
                ❤️
            {% else %}
                🤍
            {% endif %}
        </button>
    {% endfor %}
</ul>
{% endblock %}