{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class='liked-h2'>Hear the tracks you’ve liked:</h2>
<div class='song-container'>
{% for song in songs %}
    <div class='song-wrapper'> 
        <div class='song-card'>
            {% if song.album.cover %}
                <img src="{{ song.album.cover.url }}" alt="Обложка" class='song-cover'>
            {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="Обложка" class='song-cover'>
            {% endif %}

            <button class="play-btn"
                    data-src="{{ song.audio_file.url }}" 
                    data-title="{{ song.title }}" 
                    data-artist="{{ song.artist }}"
                    {% if song.album.cover %}
                        data-cover="{{ song.album.cover.url }}"
                    {% else %}
                        data-cover="{% static 'images/placeholder.png' %}"
                    {% endif %}
                    >▶</button>
            <button class="like-btn" data-id="{{ song.id }}">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M7.978 5c.653-1.334 1.644-2 2.972-2 1.992 0 3.405 1.657 2.971 4-.289 1.561-2.27 3.895-5.943 7C4.19 10.895 2.21 8.561 2.035 7c-.26-2.343.947-4 2.972-4 1.35 0 2.34.666 2.971 2z" fill="currentColor"></path>
                </svg>
            </button>
        </div>

        <p class='song-title'><i class="fa-solid fa-heart"></i>{{ song.title }}</p>
        <p class='song-artist'>{{ song.artist }}</p>
    </div>

{% empty %}
    Пока ничего не лайкнуто
{% endfor %}
</div>
<link rel="stylesheet" href="{% static 'styles/liked.css' %}">
{% endblock %}