{% extends "base.html" %}
{% load static %}
{% load classname %}
{% load l10n %}
{% block content %}

<div class="profile-banner">
    {% if profile.banner %}
        <img src="{{ profile.banner.url }}" alt="Обложка" class="banner-img">
    {% else %}
        <img src="{% static "images/banner_placeholder.png" %}" alt="Обложка по умолчанию" class="banner-img">
    {% endif %}

    <div class="banner-overlay">
        <div class="profile-info">
            <div class="avatar-wrapper">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="Аватар" class="profile-avatar">
                {% else %}
                    <img src="{% static "images/avatar_placeholder.png" %}" alt="Аватар по умолчанию" class="profile-avatar">
                {% endif %}

                <!-- Кнопка обновления внутри обёртки -->
                <form method="post" action="{% url 'update_avatar' %}" enctype="multipart/form-data" class="edit-avatar-form">
                    {% csrf_token %}
                    <label for="avatar-upload" class="edit-avatar-btn">Update image</label>
                    <input type="file" id="avatar-upload" name="avatar" hidden onchange="this.form.submit()">
                </form>
            </div>
            
            <div class="text-info">
                <h2 class="username">@{{ profile.user.username }}</h2>
                <p class="display-name">{{ profile.display_name }}</p>
            </div>
        </div>
        <form method="post" action="{% url 'update_banner' %}" enctype="multipart/form-data" class="edit-banner-form">
            {% csrf_token %}
            <label for="banner-upload" class="edit-banner-btn">Update image</label>
            <input type="file" id="banner-upload" name="banner" hidden onchange="this.form.submit()">
        </form>
    </div>
</div>
<div class="spotlight-section">
    <div class="spotlight-header">
        <p class="spotlight-text">Spotlight</p>
        <button id="openSpotlightModal">Edit Spotlight</button>
    </div>
    <div class='song-container'>
    {% for spot in profile.spotlight_songs.all %}
        <div class='song-wrapper'> 
            <div class='song-card'>
                {% if spot.album.cover %}
                    <img src="{{ spot.album.cover.url }}" alt="Обложка" class='song-cover'>
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" alt="Обложка" class='song-cover'>
                {% endif %}

                <button class="play-btn"
                        data-src="{{ spot.audio_file.url }}" 
                        data-title="{{ spot.title }}" 
                        data-artist="{{ spot.artist }}"
                        {% if spot.album.cover %}
                            data-cover="{{ spot.album.cover.url }}"
                        {% else %}
                            data-cover="{% static 'images/placeholder.png' %}"
                        {% endif %}
                        >▶</button>
                <button class="like-btn" data-id="{{ spot.id }}">
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M7.978 5c.653-1.334 1.644-2 2.972-2 1.992 0 3.405 1.657 2.971 4-.289 1.561-2.27 3.895-5.943 7C4.19 10.895 2.21 8.561 2.035 7c-.26-2.343.947-4 2.972-4 1.35 0 2.34.666 2.971 2z" fill="currentColor"></path>
                    </svg>
                </button>
            </div>

            <p class='song-title'><i class="fa-solid fa-heart"></i>{{ spot.title }}</p>
            <p class='song-artist'>{{ spot.artist }}</p>
        </div>
    {% endfor %}
    </div>
</div>
<div class="recent-section">
  <div class="recent-header">
    <p class="recent-text">Recent</p>
      <div class="recent-content">
        {% for item in recent_activity %}
          <div class="recent-object">
            {% if item|get_class == "Repost" %}
              <div class='song-wrapper'> 
                <div class='song-card'>
                {% if item.song.album.cover %}
                <img src="{{ item.song.album.cover.url }}" alt="Обложка" class='song-cover'>
                {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="Обложка" class='song-cover'>
                {% endif %}

                <button class="play-btn"
                  data-src="{{ item.song.audio_file.url }}" 
                  data-title="{{ item.song.title }}" 
                  data-artist="{{ item.song.artist }}"
                  {% if item.song.album.cover %}
                      data-cover="{{ item.song.album.cover.url }}"
                  {% else %}
                      data-cover="{% static 'images/placeholder.png' %}"
                  {% endif %}
                  >▶</button>
                <button class="like-btn" data-id="{{ item.song.id }}">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path d="M7.978 5c.653-1.334 1.644-2 2.972-2 1.992 0 3.405 1.657 2.971 4-.289 1.561-2.27 3.895-5.943 7C4.19 10.895 2.21 8.561 2.035 7c-.26-2.343.947-4 2.972-4 1.35 0 2.34.666 2.971 2z" fill="currentColor"></path>
                </svg>
                </button>
                </div>
              </div>
            <div class="repost-line">
              <div class="repost-top">
                <div class="repost-info">
                  <a href="/user/{{ item.song.uploaded_by.username }}/" onclick="loadPage(event, '/user/{{ item.song.uploaded_by.username }}/')">
                    {{ item.song.uploaded_by }}
                  </a>
                  <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M7.08034 5.71966L4.05001 2.68933L1.01968 5.71966L2.08034 6.78032L3.30002 5.56065V9.75C3.30002 11.2688 4.53124 12.5 6.05002 12.5H8.05002V11H6.05002C5.35966 11 4.80002 10.4404 4.80002 9.75V5.56066L6.01968 6.78032L7.08034 5.71966Z" fill="currentColor"></path>
                    <path d="M11.95 13.3107L8.91969 10.2803L9.98035 9.21968L11.2 10.4393L11.2 5.75C11.2 5.05964 10.6404 4.5 9.95001 4.5L7.95001 4.5L7.95001 3L9.95001 3C11.4688 3 12.7 4.23122 12.7 5.75L12.7 10.4394L13.9197 9.21968L14.9803 10.2803L11.95 13.3107Z" fill="currentColor"></path>
                  </svg>
                  <a href="/user/{{ profile.user.username }}/" onclick="loadPage(event, '/user/{{ profile.user.username }}/')">
                    {{ profile.user.username }}
                  </a>
                </div>

                <div class="repost-timestamp">
                  <p>{{ item.timestamp|timesince }} назад</p>
                </div>
                
              </div>
              <div class="repost-title-genre">
                <div class="repost-item-title">
                  <p class="item-title">{{item.song.title}}</p>
                </div>
                <div class="repost-item-genre">
                  <div class="genre-container">
                    <a href="" class="genre-box">
                      <span># {{item.song.genre}}</span>
                    </a>
                    
                  </div>
                </div>
              </div>

              <div class="waveform" data-src="{{ item.song.audio_file.url }}" id="waveform-{{ forloop.counter }}"></div>

            </div>
            {% else %}
              <div class='song-wrapper'> 
                <div class='song-card'>
                {% if item.album.cover %}
                <img src="{{ item.album.cover.url }}" alt="Обложка" class='song-cover'>
                {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="Обложка" class='song-cover'>
                {% endif %}

                <button class="play-btn"
                  data-src="{{ item.audio_file.url }}" 
                  data-title="{{ item.title }}" 
                  data-artist="{{ item.artist }}"
                  {% if item.album.cover %}
                      data-cover="{{ item.album.cover.url }}"
                  {% else %}
                      data-cover="{% static 'images/placeholder.png' %}"
                  {% endif %}
                  >▶</button>
                <button class="like-btn" data-id="{{ item.id }}">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path d="M7.978 5c.653-1.334 1.644-2 2.972-2 1.992 0 3.405 1.657 2.971 4-.289 1.561-2.27 3.895-5.943 7C4.19 10.895 2.21 8.561 2.035 7c-.26-2.343.947-4 2.972-4 1.35 0 2.34.666 2.971 2z" fill="currentColor"></path>
                </svg>
                </button>
                </div>
              </div>
            
            <div class="repost-line">
              <div class="repost-top">
                <div class="repost-info">
                  <a href="/user/{{ item.uploaded_by.username }}/" onclick="loadPage(event, '/user/{{ item.uploaded_by.username }}/')">
                    {{ item.song.uploaded_by }}
                  </a>
                  <a href="/user/{{ profile.user.username }}/" onclick="loadPage(event, '/user/{{ profile.user.username }}/')">
                    {{ profile.user.username }}
                  </a>
                </div>

                <div class="repost-timestamp">
                  <p>{{ item.uploaded_at|timesince }} назад</p>
                </div>
                
              </div>
              <div class="repost-title-genre">
                <div class="repost-item-title">
                  <p class="item-title">{{item.title}}</p>
                </div>
                <div class="repost-item-genre">
                  <div class="genre-container">
                    <a href="" class="genre-box">
                      <span># {{item.genre}}</span>
                    </a>
                    
                  </div>
                </div>
              </div>

            <div class="waveform" data-src="{{ item.audio_file.url }}" id="waveform-{{ forloop.counter }}"></div>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>
</div>






<div id="spotlightModal" class="modal hidden">
  <div class="modal-content">
    <div class="modal-header">
        <h3>Add 4 tracks for you spotlight!</h3>
        <button id="closeSpotlightModal">
            <svg height="20" width="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path fill="currentColor" d="M12 10.94 7.05 5.99 5.99 7.05 10.94 12l-4.95 4.95 1.06 1.06L12 13.06l4.95 4.95 1.06-1.06L13.06 12l4.95-4.95-1.06-1.06L12 10.94Z"></path></svg>
        </button>
    </div>
    <form id="spotlightForm">
    {% csrf_token %}
      {% for song in liked_songs %}
        <label>
          <input type="checkbox" name="song_ids" value="{{ song.id }}"
            {% if song in profile.spotlight_songs.all %}checked{% endif %}>
          {{ song.title }}
        </label><br>
      {% endfor %}
      <button type="submit">Add</button>
    </form>
  </div>
</div>



{% comment %} <script src="{% static "js/music/profile.js" %}"></script> {% endcomment %}
 <link rel="stylesheet" href="{% static 'styles/liked.css' %}">
<link rel="stylesheet" href="{% static "styles/profile.css" %}">



<script src="https://unpkg.com/wavesurfer.js"></script>
<script>
{% comment %} window.wavesurfers = {};

document.addEventListener("DOMContentLoaded", () => {
  const waveformElements = document.querySelectorAll(".waveform");

  waveformElements.forEach((el, i) => {
    const audioUrl = el.dataset.src;
    const wavesurfer = WaveSurfer.create({
      container: el,
      waveColor: '#aaa',
      progressColor: '#ff5500',
      height: 60,
      responsive: true,
      barWidth: 2,
    });

    wavesurfer.load(audioUrl);
    console.log(audioUrl)

    // Сохраняем экземпляр под ключом URL или индексом
    window.wavesurfers[audioUrl] = wavesurfer;

  });
});  {% endcomment %}
</script>

<script>
function getCookie(name) {
  let v = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
  return v ? v.pop() : '';
}

document.addEventListener('click', function (e) {
  // открыть Spotlight-модалку
  if (e.target.matches('#openSpotlightModal')) {
    document.getElementById('spotlightModal')?.classList.remove('hidden');
  }

  // закрыть Spotlight-модалку (по кнопке или вложенному svg)
  if (e.target.matches('#closeSpotlightModal') || e.target.closest('#closeSpotlightModal')) {
    document.getElementById('spotlightModal')?.classList.add('hidden');
  }
});

// обработка отправки формы Spotlight
document.addEventListener('submit', function (e) {
  if (e.target.matches('#spotlightForm')) {
    e.preventDefault();
    const form = e.target;

    const checked = form.querySelectorAll('input[name="song_ids"]:checked');
    if (checked.length > 4) {
      alert('Нельзя больше 4 треков');
      return;
    }

    const data = new FormData(form);
    fetch("{% url 'update_spotlight' %}", {
      method: 'POST',
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      body: data,
    })
    .then(r => r.json())
    .then(json => {
      if (json.error) {
        alert(json.error);
      } else {
        alert(json.message);
        location.reload(); 
      }
    })
    .catch(() => alert('Ошибка на сервере'));
  }
});
</script>
{% endblock content %}