.profile-banner {
    position: relative;
    width: 100%;
    height: 254px;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
    background: rgba(0, 0, 0, 0.25); /* Лёгкий затемнитель */
    z-index: 1;
}

.profile-info {
    display: flex;
    align-items: center;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.username {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}
.display-name {
    margin: 2px 0 0;
    font-size: 1rem;
    opacity: 0.85;
}


.profile-avatar {
    width: 198px;
    height: 198px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    transition: filter 0.3s ease;
}


.username {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.edit-banner-form {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.edit-banner-btn {
    background-color: #303030;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 500;
}

.edit-banner-btn:hover {
    background-color: #06060698;
}

.profile-banner:hover .edit-banner-form {
    opacity: 1;
    pointer-events: auto;
}


.edit-avatar-form {
    position: absolute;
    bottom: 60px;
    left: 60px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.25);
}

.edit-avatar-btn {
    background-color: #303030;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 500;
}

.avatar-wrapper:hover .profile-avatar {
    filter: brightness(60%);
}

.avatar-wrapper:hover .edit-avatar-form {
    opacity: 1;
    pointer-events: auto;
}



/* Затемнение фона */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Содержимое модалки */
.modal-content {
  padding:  0 20px 10px 20px;
  background-color: #121212;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgb(255 255 255 / 15%);
  max-width: 788px;
  height: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  animation: fadeIn 0.3s ease;
}

/* Плавное появление */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

/* Скрытый класс */
.hidden {
  display: none;
}

/* Кнопка закрытия */
#closeSpotlightModal {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}


/* Чекбоксы */
.modal-content label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

/* Кнопка сохранить */
#spotlightForm button[type="submit"] {
  background-color: #fff;
  color: #121212;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease;
}

#spotlightForm button[type="submit"]:hover {
  background-color: #ffffff88;
}

.modal-header {
    display: flex;
    gap: 20px;
}


/* SPOTLIGHT SECTION  */
.spotlight-section {
    padding-bottom: 40px;
}

.spotlight-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#openSpotlightModal {
    background-color: #303030;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    font-weight: 700;
}

.spotlight-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

/* RECENT SECTION  */
.recent-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.recent-section { 
    padding-bottom: 100px;
}

.recent-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.recent-object {
    display: flex;
    gap: 20px;
}

.repost-line {
  display: flex;
  flex-direction: column; /* Элементы идут сверху вниз */
  font-size: 14px;
  color: #999999;
  gap: 5px;
}

.repost-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
}

.repost-info {
  display: flex;
  align-items: center;
    flex: 1;
  min-width: 0;
}

.repost-line a {
  text-decoration: none;
    color: #999999;
}

.item-title {
  margin: 2px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  color: white;
}



.repost-timestamp p {
  margin: 0;
  font-size: 12px;
  color: #ccc;
}

.repost-title-genre {
   display: flex;
  justify-content: space-between; /* это расталкивает .repost-info и .repost-timestamp */
  align-items: center;
}

.genre-box {
    background: #303030;
    padding: 2px 8px; /* top | right | bottom | left */
    border-radius: 100px;
    color: #fff;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.genre-box span{
    color: white;
    font-weight: 100;
}

/* .repost-timestamp {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 200px;
  overflow: hidden;
  margin-left: auto;
} */
.song-card-spotlight {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #f2f2f2;
  margin-bottom: 5px;

}

.song-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.song-wrapper-spotlight {
    width: 200px;
    height: 200px;
}

.spotlight-row {
  display: flex;
  gap: 40px; /* расстояние между карточками и лайками */
  align-items: flex-start;
}

.liked-section {
  width: 280px;
  color: white;
  border-radius: 12px;
  padding: 20px;
  margin-top: 0px;
}

.liked-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 0px;
}

.liked-song-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.liked-song-cover img {
  width: 48px;
  height: 48px;
}

.liked-song-details {
  display: flex;
  flex-direction: column;
}

.song-title {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.song-artist {
  font-size: 14px;
  color: #aaa;
  margin: 2px 0 0;
}

.song-genre {
  font-size: 12px;
  color: #666;
  margin: 2px 0 0;
}

.liked-song-info {
  display: flex;
  gap: 5px;
  margin-bottom: 25px;
}

.profile-main-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.follow-section {
  /* width: 280px; */
  color: white;
  border-radius: 12px;
  padding: 20px;

}

.follow-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-weight: 700;
  font-size: 13.3px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
}

.followed-button {
  background-color: #303030;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-weight: 700;
  font-size: 13.3px;
  display: flex;
  align-items: center;
  gap: 8px;
    height: 32px;
}

.share-button {
  background-color: #303030;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-weight: 700;
  font-size: 13.3px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
}

.follow-header {
  display: flex;
  gap: 15px;
}

.follow-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  margin-top: 15px;
}

.follow-types, .follow-values {
  display: contents; 
}

.follow-types p,
.follow-values span {
  margin: 0;
  font-weight: bold;
}

.follow-types p {
  font-size: 16px;
  font-weight: 700;
}